# Reemplaza con tu API Key de IA:
OPENAI_API_KEY="sk-tu_key_aqui"

# Opcional (Específico para funciones de GitHub Pull Requests Privados)
GITHUB_TOKEN="ghp_tu_token_aqui_para_auditar_prs_privados"

# Other API Key Free 
OPENAI_API_KEY="gsk_tu_key_generada_aqui"
OPENAI_BASE_URL="https://api.groq.com/openai/v1"
OPENAI_MODEL="llama-3.1-8b-instant"